In [1]:
import pandas as pd
import numpy as np

### 2021 Crash Data Extraction and Processing:

In [2]:
# tto = base df for 2021. Other csvs will be temporary variables and will eventually merge to tto when processed. 
filePath = "F:\\jupyter_workspace\\WhyYouShouldRide\\Why-You-Should-Ride\\Data\\FARS2021NationalCSV\\FARS2021NationalCSV\\"
tto = pd.read_csv(filePath + "person.csv")
tto.head(20)

C:\Users\Saatvik Sandal\AppData\Local\Temp\ipykernel_58372\3895432437.py:3: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  tto = pd.read_csv(filePath + "person.csv")

,STATE,STATENAME,ST_CASE,VEH_NO,PER_NO,VE_FORMS,COUNTY,MONTH,MONTHNAME,DAY,...,EMER_USE,EMER_USENAME,ROLLOVER,ROLLOVERNAME,IMPACT1,IMPACT1NAME,FIRE_EXP,FIRE_EXPNAME,MAK_MOD,MAK_MODNAME
0,1,Alabama,10001,1,1,2,115,2,February,12,...,0.0,Not Applicable,0.0,No Rollover,12.0,12 Clock Point,0.0,No or Not Reported,2407.0,Jeep / Kaiser-Jeep / Willys- Jeep Patriot
1,1,Alabama,10001,1,2,2,115,2,February,12,...,0.0,Not Applicable,0.0,No Rollover,12.0,12 Clock Point,0.0,No or Not Reported,2407.0,Jeep / Kaiser-Jeep / Willys- Jeep Patriot
2,1,Alabama,10001,2,1,2,115,2,February,12,...,0.0,Not Applicable,0.0,No Rollover,12.0,12 Clock Point,0.0,No or Not Reported,51404.0,Volvo XC60 (For 2019 on. For model years 2008...
3,1,Alabama,10002,1,1,1,73,2,February,11,...,0.0,Not Applicable,0.0,No Rollover,11.0,11 Clock Point,0.0,No or Not Reported,59031.0,Lexus ES-250/300/300h/330/ 350
4,1,Alabama,10002,1,2,1,73,2,February,11,...,0.0,Not Applicable,0.0,No Rollover,11.0,11 Clock Point,0.0,No or Not Reported,59031.0,Lexus ES-250/300/300h/330/ 350
5,1,Alabama,10003,0,1,1,73,2,February,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,Alabama,10003,1,1,1,73,2,February,7,...,0.0,Not Applicable,0.0,No Rollover,12.0,12 Clock Point,0.0,No or Not Reported,49040.0,Toyota Camry
7,1,Alabama,10004,1,1,1,117,2,February,3,...,0.0,Not Applicable,0.0,No Rollover,12.0,12 Clock Point,0.0,No or Not Reported,58403.0,Infiniti QX60
8,1,Alabama,10005,1,1,2,73,1,January,30,...,0.0,Not Applicable,1.0,"Rollover, Tripped by Object/Vehicle",12.0,12 Clock Point,0.0,No or Not Reported,7482.0,Dodge Ram Pickup
9,1,Alabama,10005,2,1,2,73,1,January,30,...,0.0,Not Applicable,0.0,No Rollover,6.0,6 Clock Point,0.0,No or Not Reported,55033.0,Hyundai Sonata
10,1,Alabama,10005,2,2,2,73,1,January,30,...,0.0,Not Applicable,0.0,No Rollover,6.0,6 Clock Point,0.0,No or Not Reported,55033.0,Hyundai Sonata
11,1,Alabama,10005,2,3,2,73,1,January,30,...,0.0,Not Applicable,0.0,No Rollover,6.0,6 Clock Point,0.0,No or Not Reported,55033.0,Hyundai Sonata
12,1,Alabama,10006,1,1,3,1,1,January,28,...,0.0,Not Applicable,0.0,No Rollover,12.0,12 Clock Point,0.0,No or Not Reported,12481.0,Ford F-Series pickup
13,1,Alabama,10006,2,1,3,1,1,January,28,...,0.0,Not Applicable,0.0,No Rollover,6.0,6 Clock Point,0.0,No or Not Reported,82881.0,Freightliner Medium/Heavy - CBE
14,1,Alabama,10006,3,1,3,1,1,January,28,...,0.0,Not Applicable,0.0,No Rollover,11.0,11 Clock Point,0.0,No or Not Reported,51881.0,Volvo Medium/Heavy - CBE
15,1,Alabama,10007,1,1,1,83,1,January,27,...,0.0,Not Applicable,1.0,"Rollover, Tripped by Object/Vehicle",12.0,12 Clock Point,0.0,No or Not Reported,54035.0,Acura TL
16,1,Alabama,10008,1,1,2,125,1,January,23,...,0.0,Not Applicable,0.0,No Rollover,12.0,12 Clock Point,0.0,No or Not Reported,37032.0,Honda Accord (Note: For Crosstour model years ...
17,1,Alabama,10008,2,1,2,125,1,January,23,...,0.0,Not Applicable,0.0,No Rollover,12.0,12 Clock Point,0.0,No or Not Reported,2422.0,Jeep / Kaiser-Jeep / Willys- Jeep Grand Cherok...
18,1,Alabama,10009,1,1,1,101,1,January,17,...,0.0,Not Applicable,1.0,"Rollover, Tripped by Object/Vehicle",0.0,Non-Collision,0.0,No or Not Reported,12023.0,Ford Fusion
19,1,Alabama,10009,1,2,1,101,1,January,17,...,0.0,Not Applicable,1.0,"Rollover, Tripped by Object/Vehicle",0.0,Non-Collision,0.0,No or Not Reported,12023.0,Ford Fusion

In [3]:
tto = tto[["ST_CASE",
"VEH_NO",
"PER_NO",
"AGE",
"SEX",
"PER_TYP",
"PER_TYPNAME",
"INJ_SEV",
"INJ_SEVNAME",
"HELM_USE",
"HELM_USENAME",
"HELM_MIS",
"HELM_MISNAME",
"DRINKING",
"DRINKINGNAME",
"ALC_RES",
"ALC_RESNAME"]]
tto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96747 entries, 0 to 96746
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ST_CASE       96747 non-null  int64
 1   VEH_NO        96747 non-null  int64
 2   PER_NO        96747 non-null  int64
 3   AGE           96747 non-null  int64
 4   SEX           96747 non-null  int64
 5   PER_TYP       96747 non-null  int64
 6   PER_TYPNAME   96747 non-null  object
 7   INJ_SEV       96747 non-null  int64
 8   INJ_SEVNAME   96747 non-null  object
 9   HELM_USE      96747 non-null  int64
 10  HELM_USENAME  96747 non-null  object
 11  HELM_MIS      96747 non-null  int64
 12  HELM_MISNAME  96747 non-null  object
 13  DRINKING      96747 non-null  int64
 14  DRINKINGNAME  96747 non-null  object
 15  ALC_RES       96747 non-null  int64
 16  ALC_RESNAME   96747 non-null  object
dtypes: int64(11), object(6)
memory usage: 12.5+ MB

In [4]:
tto_vehicle = pd.read_csv(filePath + "vehicle.csv", encoding_errors= 'replace')
tto_vehicle = tto_vehicle[["ST_CASE",
"VEH_NO",
"MAKENAME",
"BODY_TYPNAME",
"MOD_YEAR",
"MAK_MODNAME",
"TRAV_SP",
"IMPACT1",
"DEFORMEDNAME",
"L_STATUSNAME",
"L_COMPLNAME",
"DR_HGT",
"DR_WGT",
"VSPD_LIMNAME",
"VALIGNNAME",
"VSURCONDNAME",
"P_CRASH2",
"P_CRASH2NAME"]]
tto_vehicle.info()

C:\Users\Saatvik Sandal\AppData\Local\Temp\ipykernel_58372\3563680013.py:1: DtypeWarning: Columns (14,56,58,176,178) have mixed types. Specify dtype option on import or set low_memory=False.
  tto_vehicle = pd.read_csv(filePath + "vehicle.csv", encoding_errors= 'replace')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61332 entries, 0 to 61331
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ST_CASE       61332 non-null  int64
 1   VEH_NO        61332 non-null  int64
 2   MAKENAME      61332 non-null  object
 3   BODY_TYPNAME  61332 non-null  object
 4   MOD_YEAR      61332 non-null  int64
 5   MAK_MODNAME   61332 non-null  object
 6   TRAV_SP       61332 non-null  int64
 7   IMPACT1       61332 non-null  int64
 8   DEFORMEDNAME  61332 non-null  object
 9   L_STATUSNAME  61332 non-null  object
 10  L_COMPLNAME   61332 non-null  object
 11  DR_HGT        61332 non-null  int64
 12  DR_WGT        61332 non-null  int64
 13  VSPD_LIMNAME  61332 non-null  object
 14  VALIGNNAME    61332 non-null  object
 15  VSURCONDNAME  61332 non-null  object
 16  P_CRASH2      61332 non-null  int64
 17  P_CRASH2NAME  61332 non-null  object
dtypes: int64(8), object(10)
memory usage: 8.4+ MB

In [5]:
tto_accident = pd.read_csv(filePath + "accident.csv", encoding_errors= 'replace')
tto_accident = tto_accident[["ST_CASE",
"COUNTY",
"COUNTYNAME",
"CITY",
"CITYNAME",
"MONTH",
"DAY",
"DAY_WEEK",
"YEAR",
"HOUR",
"MINUTE",
"TWAY_ID",
"ROUTENAME",
"LATITUDE",
"LONGITUD",
"MAN_COLL",
"MAN_COLLNAME",
"LGT_COND",
"LGT_CONDNAME",
"WEATHER",
"WEATHERNAME"]]
tto_accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39508 entries, 0 to 39507
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ST_CASE       39508 non-null  int64
 1   COUNTY        39508 non-null  int64
 2   COUNTYNAME    39508 non-null  object
 3   CITY          39508 non-null  int64
 4   CITYNAME      39508 non-null  object
 5   MONTH         39508 non-null  int64
 6   DAY           39508 non-null  int64
 7   DAY_WEEK      39508 non-null  int64
 8   YEAR          39508 non-null  int64
 9   HOUR          39508 non-null  int64
 10  MINUTE        39508 non-null  int64
 11  TWAY_ID       39508 non-null  object
 12  ROUTENAME     39508 non-null  object
 13  LATITUDE      39508 non-null  float64
 14  LONGITUD      39508 non-null  float64
 15  MAN_COLL      39508 non-null  int64
 16  MAN_COLLNAME  39508 non-null  object
 17  LGT_COND      39508 non-null  int64
 18  LGT_CONDNAME  39508 non-null  object
 19  WEATHER       39508 non-null  int64
 20  WEATHERNAME   39508 non-null  object
dtypes: float64(2), int64(12), object(7)
memory usage: 6.3+ MB

In [6]:
tto_drugs = pd.read_csv(filePath + "drugs.csv", encoding_errors= 'replace')
tto_drugs = tto_drugs[["ST_CASE",
"VEH_NO",
"PER_NO",
"DRUGRES",
"DRUGRESNAME"]]
tto_drugs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116162 entries, 0 to 116161
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ST_CASE      116162 non-null  int64
 1   VEH_NO       116162 non-null  int64
 2   PER_NO       116162 non-null  int64
 3   DRUGRES      116162 non-null  int64
 4   DRUGRESNAME  116162 non-null  object
dtypes: int64(4), object(1)
memory usage: 4.4+ MB

In [7]:
tto_distract = pd.read_csv(filePath + "distract.csv", encoding_errors= 'replace')
tto_distract = tto_distract[["ST_CASE",
"VEH_NO",
"DRDISTRACTNAME"]]
tto_distract.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61361 entries, 0 to 61360
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ST_CASE         61361 non-null  int64
 1   VEH_NO          61361 non-null  int64
 2   DRDISTRACTNAME  61361 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.4+ MB

In [8]:
tto_drimpair = pd.read_csv(filePath + "drimpair.csv", encoding_errors= 'replace')
tto_drimpair = tto_drimpair[["ST_CASE",
"VEH_NO",
"DRIMPAIRNAME"]]
tto_drimpair.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61529 entries, 0 to 61528
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ST_CASE       61529 non-null  int64
 1   VEH_NO        61529 non-null  int64
 2   DRIMPAIRNAME  61529 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.4+ MB

In [9]:
tto_weather = pd.read_csv(filePath + "weather.csv", encoding_errors= 'replace')
tto_weather = tto_weather[["ST_CASE",
"WEATHERNAME"]]
tto_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39923 entries, 0 to 39922
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ST_CASE      39923 non-null  int64
 1   WEATHERNAME  39923 non-null  object
dtypes: int64(1), object(1)
memory usage: 623.9+ KB

#### Now comes the hard part, combining it all... or should I? 
#### Yes. Will combine them, sorting the key logic out in one step. This will be used later when it comes to the SQL queries anyways. After combing and then cleaning I will re-fragment them for the database, so it is neat and efficient. But this should be simple because at this point I should have worked out all the key logic.

#### ST_CASE, VEH_NO, PER_NO will be the main keys

In [10]:
#Will first merge dfs with the same keys, then will work from there. Reason for merging is I want the data cleaning to be done 
#cleanly and in one swoop. Instead of doing multiple data frames over and over again. This way if one df is has a null for 
#an accident, we dont find out once they are joined.

In [11]:
#First tto (person) and tto_drugs
tto_pedu = pd.merge(tto, tto_drugs, on = ["ST_CASE", "VEH_NO", "PER_NO"], how = "inner")
tto_pedu.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116162 entries, 0 to 116161
Data columns (total 19 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ST_CASE       116162 non-null  int64
 1   VEH_NO        116162 non-null  int64
 2   PER_NO        116162 non-null  int64
 3   AGE           116162 non-null  int64
 4   SEX           116162 non-null  int64
 5   PER_TYP       116162 non-null  int64
 6   PER_TYPNAME   116162 non-null  object
 7   INJ_SEV       116162 non-null  int64
 8   INJ_SEVNAME   116162 non-null  object
 9   HELM_USE      116162 non-null  int64
 10  HELM_USENAME  116162 non-null  object
 11  HELM_MIS      116162 non-null  int64
 12  HELM_MISNAME  116162 non-null  object
 13  DRINKING      116162 non-null  int64
 14  DRINKINGNAME  116162 non-null  object
 15  ALC_RES       116162 non-null  int64
 16  ALC_RESNAME   116162 non-null  object
 17  DRUGRES       116162 non-null  int64
 18  DRUGRESNAME   116162 non-null  object
dtypes: int64(12), object(7)
memory usage: 17.7+ MB

In [13]:
#Next merge will be vehicle, distract, drimopair
tto_vehdis = pd.merge(tto_drimpair, tto_distract, on = ["ST_CASE", "VEH_NO"], how = "inner")

tto_vehdis.info()
tto_vehdisdrim = pd.merge(tto_vehdis, tto_vehicle, on = ["ST_CASE", "VEH_NO"], how = "inner")
tto_vehdisdrim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61558 entries, 0 to 61557
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ST_CASE         61558 non-null  int64
 1   VEH_NO          61558 non-null  int64
 2   DRIMPAIRNAME    61558 non-null  object
 3   DRDISTRACTNAME  61558 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 61558 entries, 0 to 61557
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ST_CASE         61558 non-null  int64
 1   VEH_NO          61558 non-null  int64
 2   DRIMPAIRNAME    61558 non-null  object
 3   DRDISTRACTNAME  61558 non-null  object
 4   MAKENAME        61558 non-null  object
 5   BODY_TYPNAME    61558 non-null  object
 6   MOD_YEAR        61558 non-null  int64
 7   MAK_MODNAME     61558 non-null  object
 8   TRAV_SP         61558 non-null  int64
 9   IMPACT1         61558 non-null  int64
 10  DEFORMEDNAME    61558 non-null  object
 11  L_STATUSNAME    61558 non-null  object
 12  L_COMPLNAME     61558 non-null  object
 13  DR_HGT          61558 non-null  int64
 14  DR_WGT          61558 non-null  int64
 15  VSPD_LIMNAME    61558 non-null  object
 16  VALIGNNAME      61558 non-null  object
 17  VSURCONDNAME    61558 non-null  object
 18  P_CRASH2        61558 non-null  int64
 19  P_CRASH2NAME    61558 non-null  object
dtypes: int64(8), object(12)
memory usage: 9.9+ MB

### Halfway changed my mind about merging it all. Realizing theres going to be a bunch of repeated data. So, I think I will clean up all of them individually. I can set a legend for the other three years if I need to change anything and after looking at all the distinct values and stuff.

## Delete above code later possibly... (the merging)

#### Steps to clean data:
#### Make sure all the columns are of the righ type, convert if not. 
#### For all string (object columns), check for distinct values, make sure there are no misspellings. 
#### For string (object) columns, if they come with a number pair, create a dictionay to record their meaning. Compile the list of dictionaries in a note on the readme.md. 
#### For all integer values check the min max stuff, make sure values make sense. Record any numerical vaues that represent missing/not recorded value codes (99 and 999 are popular ones). Pretty sure theres a fast way to do this so search that up.
#### Check for duplicate rows
#### Convert to standard date time format ? Or naw (crashes happening at this time of day is easier if its not combined, or I can add a column to the dfs.